@inherits ToggleSwitchBase

<div class="@($"toggle-switch{(Inline ? " -inline" : null)} -{Size.ToString().ToLower()}")">
    <label class="@($"label{(Fill ? " -fill" : null)}")">@Label</label>
    <label class="switch">
        <input
            type="checkbox"
            checked="@Checked"
            onchange="@HandleChanged" />
        <span
            tabindex="0"
            role="checkbox"
            aria-label="@Label"
            aria-checked="@Checked.ToString()"
            class="@($"slider{(Round ? " -round" : null)}")"
            onkeydown="@(k => HandleKeyPress(k, ToggleChecked))"></span>
    </label>
</div>