@page "/pushpin"
@using RPedretti.Blazor.BingMap.Entities.Pushpin
@inherits PushpinPageBase

<div class="pushpin-page">
    <div style="width: 300px; display:inline-block; float:left">
        <span style="display:inline-block; margin-right: 12px">Map click: @MapClick</span>
        <span style="display:inline-block;">Map Right Click: @MapRightClick</span>
        <button class="btn btn-primary update-btn" onclick="@AddPushpin" disabled="@DisableAddButton">Add pushpin</button>
        <ul class="list-group">
            @foreach (var pushpin in Entities)
            {
                var p = pushpin as BingMapPushpin;
                <li class="list-group-item" title="(@(p.Center.Latitude), @(p.Center.Longitude))">
                    <span style="vertical-align: middle;line-height: 38px;">@(p.Id)</span>
                    <span style="float:right;">
                        <i class="@($"btn fas fa-{(p.OptionsSnapshot.Visible ?? true ? "eye" : "eye-slash")}")" onclick="@(() => ToggleVisibility(p))"></i>
                        <i class="btn fas fa-times" style="font-weight:900;" onclick="@(() => RemovePushpin(p))"></i>
                    </span>
                </li>
            }
        </ul>
    </div>
    <BingMap Id="@BingMapId"
             Entities="@Entities"
             MapsConfig="@MapsConfig"
             ViewConfig="@MapsViewConfig"
             MapLoaded="@MapLoaded"
             Click="@OnMapClick"
             RightClick="@OnMapRightClick"
             ThrottleViewChangeEnd="@OnMapThrottleViewChangeEnd" />
</div>
