@page "/movies"
@inherits MoviesBase
@using RPedretti.Blazor.Components.Sample.Models;
@using RPedretti.Blazor.Components.Layout.PagedGrid;

<div class="input-group mb-3">
    <input type="text"
           class="form-control"
           aria-label="title"
           placeholder="Movie title..."
           oninput="(this.dispatchEvent(new CustomEvent('change', { bubbles: true })))"
           bind="@SearchMovieTitle" />
    <div class="input-group-append">
        <button class="btn btn-outline-secondary"
                type="button"
                onclick="@SearchAsync"
                disabled="@string.IsNullOrWhiteSpace(SearchMovieTitle)">
            Search
        </button>
    </div>
</div>

<h1>Movies (@MoviesCount)</h1>

@{ RenderFragment<PagedGrid<MoviePosterModel>.PagedGridContext> template = c =>
    @<MoviePoster Movie="@(c.Item)"
                  A11yRole="listitem"
                  A11ySetSize="@MoviesCount"
                  A11yPosInSet="@((CurrentPage - 1) * 10 + c.Index + 1)"
                  A11yLabel="@($"{c.Item.Title}{(c.Item.Plot != null ? ", " + c.Item.Plot : null)}")"
                  OnClick="@(() => GoToMovie(c.Item))" />;
}

<PagedGrid MaxIndicators="3"
           SmallPager
           TItem="MoviePosterModel"
           Items="@Movies"
           ItemTemplate="@template"
           ListClasses="movies"
           ItemClasses="movie-poster"
           A11yLabel="Movies"
           Loading="@Loading"
           HasContent="@HasContent"
           CurrentPage="@CurrentPage"
           PageCount="@PageCount"
           OnRequestPage="@RequestPage">
</PagedGrid>