@inherits DynamicGroupedTableBase
@using RPedretti.Blazor.Components.Spinner

<div class="dynamic-grouped-table">
    @if (Loading)
    {
        <Spinner Centered Active="@Loading" Size="SpinnerSize.MEDIUM"></Spinner>
    }
    else
    {
        <table class="@($"table table-header {@Classes}")">
            <thead>
                <tr>
                    @foreach (var header in Headers)
                    {
                        <th class="@($"{header.Classes}{(header.Hidden ? " -hidden" : null)}")">@header.Title</th>
                    }
                </tr>
            </thead>
        </table>
        @foreach (var group in Groups)
        {
            var g = group;
            <div class="@($"group{(g.Collapsed ? " -collapse" : null)}")">
                <span class="group-header" 
                      role="heading"
                      tabindex="0"
                      onkeydown="@(k => HandleKeyPress(k, () => ToggleGroupCollapsed(g)))"
                      onclick="@(() => ToggleGroupCollapsed(g))">@g.Title</span>
                <div class="group-content">
                    <table class="table">
                        <tbody>
                            @foreach (var row in group.Rows)
                            {
                                <tr tabindex="@(g.Collapsed ? null : "0")" class="table-row @row.Classes">
                                    @for (int i = 0; i < row.Cells.Count(); i++)
                                    {
                                        var header = Headers.ElementAt(i);
                                        var rowContent = row.Cells.ElementAt(i);
                                        <td class="@($"table-cell {rowContent.Classes}{(header.Hidden ? " -hidden" : null)}")">@rowContent.Formatter()</td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
    }
</div>