@inherits SuggestBoxBase
@using RPedretti.Blazor.Components.Spinner

<div data-widget="acessible-suggest" class="@($"suggest-box{(!LoadingSuggestion && OpenSuggestion ? " -open" : null)}")">
    <div class="sb-input">
        <input type="text"
               ref="input"
               id="@SuggestBoxId"
               autocomplete="off"
               class="form-control"
               aria-describedby="desc"
               aria-autocomplete="both"
               aria-owns="results"
               aria-expanded="@OpenSuggestion"
               aria-activedescendant="@(_suggestionItems.Any(s => s.Selected) ? "selectedOption" : "")"
               onkeydown="@HandleKeyDown"
               oninput="(this.dispatchEvent(new CustomEvent('change', { bubbles: true })))"
               bind="@Query" />
        <div class="sb-flyout">
            <ul id="results" class="suggestion-list" role="listbox" tabindex="0">
                @for (var i = 0; i < _suggestionItems.Count; i++)
                {
                    var s = _suggestionItems[i];
                    var isLast = i == _suggestionItems.Count - 1;
                    <li tabindex="-1"
                        class="suggestion-item"
                        id="@(s.Selected ? "selectedOption" : null)"
                        role="option"
                        aria-selected="@(s.Selected.ToString().ToLower())"
                        onclick="@(() => InternalSuggestionSelected(s))">
                        <p class="sb-suggestion">@s.Value</p>
                    </li>
                }
            </ul>
        </div>
        <span id="desc" style="display: none;">@Description</span>
    </div>
    <div class="sb-progress">
        <Spinner Active="@LoadingSuggestion" Size="SpinnerSize.EXTRA_SMALL" />
    </div>
    <div aria-live="polite" role="status" aria-label="@A11yLabel"></div>
</div>