@inherits DynamicTableBase
@using BlazorApp30.Components.Spinner

<div class="dynamic-table">
    @if (Loading)
    {
        <Spinner Centered Active="@Loading" Size="SpinnerSize.MEDIUM"></Spinner>
    }
    else
    {
        <table class="@($"table {@Classes}")">
            <thead>
                <tr>
                    @foreach (var header in Headers)
                    {
                        var h = header;
                        <th tabindex="@(h.CanSort ? "0" : null)"
                            class="@($"table-header {h.Classes}{(h.Hidden ? " -hidden" : null)}")"
                            onkeypress="@(k => HandleKeyPress(k, () => { if (h.CanSort) Sort(h); }))"
                            onclick="@(() => { if (h.CanSort) Sort(h); })">
                            @h.Title
                            @if (h.CanSort)
                            {
                                <i class="fa fa-sort@(SortedTable.ContainsKey(h) ? SortedTable[h] ? "-down" : "-up" : null)"></i>
                            }
                        </th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var row in Rows)
                {
                    <tr tabindex="0" class="table-row @row.Classes">
                        @for (int i = 0; i < row.Cells.Count(); i++)
                        {
                            var header = Headers.ElementAt(i);
                            var rowContent = row.Cells.ElementAt(i);
                            <td class="@($"table-cell {rowContent.Classes}{(header.Hidden ? " -hidden" : null)}")">@rowContent.Formatter()</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    }
</div>