@page "/forecast"
@inherits ForecastBase

<h1>Weather forecast</h1>

<ToggleSwitch Round
              Label="Grouped"
              bind-Checked="@Grouped"/>

<button type="button" class="btn" onclick="@(() => ToggleColumn(0))">@(Headers.ElementAt(0).Hidden ? "Show" : "Hide") Date</button>
<button type="button" class="btn" onclick="@(() => ToggleColumn(1))">@(Headers.ElementAt(1).Hidden ? "Show" : "Hide") Temp. (C)</button>
<button type="button" class="btn" onclick="@(() => ToggleColumn(2))">@(Headers.ElementAt(2).Hidden ? "Show" : "Hide") Rain Chance</button>
<button type="button" class="btn" onclick="@(() => ToggleColumn(3))">@(Headers.ElementAt(3).Hidden ? "Show" : "Hide") Rain Ammount</button>


@if (Grouped)
{
    <DynamicGroupedTable Headers="@Headers"
                         Groups="@GroupedForecast"
                         Loading="@Loading"/>
}
else
{
    <DynamicTable Classes="table-bordered"
                  Headers="@Headers"
                  Rows="@Forecasts"
                  Loading="@Loading"
                  SortRequest="@Sort"/>
}
