@page "/movies"
@inherits MoviesBase

<h1>Movies - total (@ViewModel.Model.MoviesCount)</h1>

<PagedGrid MaxIndicators="3"
           SmallPager="true"
           A11yLabel="Movies"
           Loading="@ViewModel.Loading"
           HasContent="@ViewModel.HasContent"
           CurrentPage="@ViewModel.Model.CurrentPage"
           PageCount="@ViewModel.Model.PageCount"
           OnRequestPage="@RequestPage">
        @for (int i = 0; i < ViewModel.Model.Movies.Count; i++)
        {
            var index = i;
            var movie = ViewModel.Model.Movies[index];
            <MoviePoster Movie="@movie"
                         A11yRole="listitem"
                         A11ySetSize="@(ViewModel.Model.MoviesCount)"
                         A11yPosInSet="@((ViewModel.Model.CurrentPage - 1) * 10 + index + 1)"
                         A11yLabel="@($"{movie.Title}{(movie.Plot != null ? ", " + movie.Plot : null)}")"
                         OnClick="@(() => ViewModel.GoToMovie(movie.Id))" />
        }
</PagedGrid>