@inherits CheckboxBase

<div class="@($"checkbox size-{(int)Size}{(Inline ? " -inline" : null)}{(Disabled ? " -disabled" : null)}")"
     role="checkbox"
     tabindex="0"
     aria-label="@(A11yLabel ?? Label)"
     aria-checked="@Checked.ToString().ToLower()"
     aria-disabled="@Disabled.ToString().ToLower()"
     onkeypress="@(k => HandleKeyPress(k, ToggleCheck))"
     onclick="@ToggleCheck">
    <label aria-hidden="true" class="@($"checkbox-label far fa-{(Checked ? "check-": null)}square")">@Label</label>
</div> 