@inherits PagedGridBase
@using RPedretti.Blazor.Components.Spinner

<div class="paged-grid">
    @if (HasContent)
    {
        <Pager MaxIndicators="@MaxIndicators"
               Position="@PagerPosition"
               OnRequestPage="@OnRequestPage"
               CurrentPage="@CurrentPage"
               PageCount="@PageCount"
               Small="@SmallPager"></Pager>
    }
    @if (HasContent && !Loading)
    {
        <ol tabindex="0" aria-label="@A11yLabel" aria-required="false" class="movies">
            @ChildContent
        </ol>
    }
    else if (Loading)
    {
        <Spinner Active Centered Size="SpinnerSize.LARGE"></Spinner>
    }
    else if (!HasContent)
    {
        <p>@NoContentMessage</p>
    }
</div>