@page "/"
@inherits TrafficBase
@using RPedretti.Blazor.Components.Checkbox

<div class="traffic-page">
    <div class="bing-maps-controls">
        <ToggleSwitch Checked="@ShowTraffic"
                      CheckedChanged="@UpdateTraffic"
                      Label="Show Traffic"
                      Round />
        <Checkbox Disabled="@(!ShowTraffic)"
                  Size="CheckboxSize.MEDIUM"
                  bind-Checked="@ShowIncidents"
                  Label="Show Incidents" />
    </div>
    <BingMaps Id="@BingMapId"
              MapsConfig="@MapsConfig"
              ViewConfig="@MapsViewConfig"
              MapLoaded="@MapLoaded"
              Modules="@Modules" />
</div>