@inherits MoviePosterBase

<div class="movie-poster_card"
     tabindex="0"
     onclick="@HandleClick"
     onkeydown="@(k => HandleKeyPress(k, OnClick))">
    <div class="movie-poster_face">
        @if (Movie.Poster == "N/A")
        {
            <img class="poster-image -loaded -no-poster"
                 alt="@Movie.Title"
                 src="/assets/poster-placeholder.png" />
            <p class="title--overlay" style="align-content: center">@Movie.Title</p>
        }
        else
        {
            if (!ImageLoaded)
            {
                <Spinner Active="@(!ImageLoaded)" Centered></Spinner>
            }
            <img class="@($"poster-image {(ImageLoaded ? "-loaded" : null)}")"
                 alt="@Movie.Title"
                 src="@(ImageError ? "/assets/poster-placeholder.png" : Movie.Poster)"
                 onerror="@UpdateError"
                 onload="@UpdateLoader" />
        }
    </div>
</div>