@inherits TodoListBase

<div class="todo-list" id="@Id">
    <div class="form-control new-item--input">
        <input tabindex="0"
               class="form-text-input todo-title-input"
               aria-label="título"
               placeholder="Algo a fazer..."
               bind="@NewTodoTitle"
               id="@($"{Id}-todo-title")" />
        <button tabindex="0"
                class="btn todo-add-button"
                onclick="@AddTodo"
                id="@($"{Id}-todo-add-button")"
                disabled="@string.IsNullOrWhiteSpace(NewTodoTitle)">
            Adicionar item
        </button>
    </div>
    @if (Items.Count > 0)
    {
        <ul class="list-group">
            @foreach (var item in Items)
            {
                <li class="list-group-item todo-item">
                    <input id="@($"{Id}-todo-item-check-{Items.IndexOf(item)}")"
                           class="form-check-input todo-item-check"
                           type="checkbox"
                           checked="@item.IsDone"
                           onchange="@(c => Checked(c, item))"/>
                    <input id="@($"{Id}-todo-item-title-{Items.IndexOf(item)}")"
                           class="form-text-input todo-item-title"
                           value="@item.Title"
                           onchange="@(c => TitleChanged(c, item))" />
                </li>
            }
        </ul>
    }
    else
    {
        <p class="todo-item-empty">No task to be done</p>
    }
</div>