@inherits TodoListBase

<div class="todo-list" id="@Id">
    <div class="input-group mb-3">
        <input
            type="text"
            class="form-control"
            aria-label="título"
            placeholder="something to do"
            bind="@NewTodoTitle"
            id="@($"{Id}-todo-title")" 
            aria-describedby="basic-addon2"/>
        <div class="input-group-append">
            <button
                class="btn btn-outline-secondary"
                type="button"
                onclick="@AddTodo"
                id="@($"{Id}-todo-add-button")"
                disabled="@string.IsNullOrWhiteSpace(NewTodoTitle)">add item</button>
        </div>
    </div>
    @if (Items.Count > 0)
    {
        <ul>
            @foreach (var item in Items)
            {
            <li class="input-group mb-3">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <input
                            type="checkbox"
                            aria-label="Checkbox for following text input"
                            value="@item.IsDone"
                            onchange="@(c => Checked(c, item))"/>
                    </div>
                </div>
                <input 
                    type="text"
                    class="form-control"
                    bind="@item.Title"
                    aria-label="Text input with checkbox"/>
            </li>
            }
        </ul>
    }
    else
    {
        <p class="todo-item-empty">No task to be done</p>
    }
</div>