@inherits DynamicTableBase
@using RPedretti.Blazor.Components.Spinner

<div class="dynamic-table">
    <table class="@($"table {@Classes}")">
        <thead>
            <tr>
                @foreach (var header in Headers)
                {
                    var h = header;
                    <th tabindex="@(h.CanSort ? "0" : null)"
                        class="@($"table-header {h.Classes}{(h.Hidden ? " -hidden" : null)}")"
                        onkeydown="@(k => HandleKeyPress(k, () => { if (h.CanSort) Sort(h); }))"
                        onclick="@(() => { if (h.CanSort) Sort(h); })">
                        @h.Title
                        @if (h.CanSort)
                        {
                            <i class="fas fa-sort@(SortedTable.ContainsKey(h) ? SortedTable[h] ? "-down" : "-up" : null)"></i>
                        }
                    </th>
                }
            </tr>
        </thead>
        @if (!Loading)
        {
            <tbody>
                @foreach (var row in Rows)
                {
                    <tr tabindex="0" class="table-row @row.Classes">
                        @for (int i = 0; i < row.Cells.Count(); i++)
                        {
                            var header = Headers.ElementAt(i);
                            var rowContent = row.Cells.ElementAt(i);
                            <td class="@($"table-cell {rowContent.Classes}{(header.Hidden ? " -hidden" : null)}")">@rowContent.Formatter()</td>
                        }
                    </tr>
                }
            </tbody>
        }
    </table>
    @if (Loading)
    {
        <Spinner Centered Active="@Loading" Size="SpinnerSize.MEDIUM"></Spinner>
    }
</div>