@page "/bing-maps"
@inherits BingMapsPageBase
@using RPedretti.Blazor.Components.Checkbox

<div class="bing-maps-page">
    <div class="bing-maps-controls">
        <ToggleSwitch Checked="@ShowTraffic"
                      CheckedChanged="@UpdateTraffic"
                      Label="Show Traffic"
                      Round />
        <Checkbox Disabled="@(!ShowTraffic)"
                  Size="CheckboxSize.MEDIUM"
                  bind-Checked="@ShowIncidents"
                  Label="Show Incidents" />

        <div class="directions-container" onclick="event.stopPropagation()">
            <div class="inputPannel" id="inputPannel"></div>
            <div class="itineraryPanel" id="itineraryPanel"></div>
        </div>
    </div>
    <BingMaps Id="@BingMapId"
              MapsConfig="@MapsConfig"
              ViewConfig="@MapsViewConfig"
              MapLoaded="@MapLoaded"
              Modules="@Modules" />
</div>