@inherits AccordeonBase

<div class="accordeon card">
    <div tabindex="0"
         role="button"
         aria-expanded="@Expanded.ToString().ToLower()"
         aria-label="@Title"
         class="@($"accordeon-title{(CenterTitle ? " -center" : null)}")"
         onkeydown="@(k => HandleKeyPress(k, () => Expanded = !Expanded))"
         onclick="@(() => Expanded = !Expanded)">
        <span aria-hidden="true" id="accordeon-title" class="title">@Title</span>
    </div>
    <div class="@($"accordeon-content{(Expanded ? " -expand" : " -collapse")}")">
        @if (showChildren)
        {
            <div class="content-wrapper">
                @ChildContent
            </div>
        }
    </div>
</div>